div#intro {
  margin:auto;
  background-color: grey;
  float: top;
  border: 3px black;
  width: 50%;
  color: white;

}


.header {
  background-color: grey;

}

body {
  background-color:white;
}
p {
  color:black;
  font-family:sans-serif;
}
h1 {
  color:black;
  font-family:arial;
}
img#Selfie {
  display:block;
  margin:auto;
  width:15%;
  border-radius:50%;

}
.meaningless {
  color:blue;
}
#python_button {
  background-color: white; /* Green */
  border: 2px solid grey;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;

}
ul#nav {
	width: 940px; list-style: none; overflow: hidden; margin: -134px auto 25px auto;
}
	ul#nav li {
		width: 126px; height: 33px; float: left; padding: 13px 0 0 0;
		background: url(images/nav-bg.png);
		font-weight: bold; text-align: center; text-transform: uppercase;
	}
		ul#nav li:nth-child(1) {
			margin: 0 60px 0 0;
		}
		ul#nav li:nth-child(2) {
			margin: 0 316px 0 0;
		}
		ul#nav li:nth-child(3) {
			margin: 0 60px 0 0;
		}
		ul#nav li:nth-child(4) {
			margin: 0;
		}

		ul#nav li a {
			color: #616369; text-decoration: none;
		}
			ul#nav li a:hover {
				color: #a12121;
			}
#googleapi {
  display:block;

  float:top;
}
